<div class="card">
    <h4 class="card-title">Physical Planning</h4>
    <div class="card-body">

        <div class="card-text">
            <p>
                Valuation for stamp duty purposes
            </p>
            <p>
                Assessment of Rent for government leasing
            </p>
            <p>
                Determination of Disputed Rent
            </p>
            <p>
                Valuation of Government owned properties on foreign mission
            </p>
            <p>
                Valuation for rating
            </p>
            <p>
                Valuation of fixed and loose assets for all government agencies
            </p>
            <p>
                Ground rent determination upon subdivision, lease extension and
                change of user
            </p>
        </div>

    </div>
    <div class="ml-auto mr-auto mb-3">
        <button class="btn" role="button">Request Service</button>
    </div>
</div>