<div class="container mt-5" id="services">
    <div>
        <h1 class="text-center">Our Services</h1>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <app-registration></app-registration>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 ">
           <app-valuation></app-valuation>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <app-administration></app-administration>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <app-survey></app-survey>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <app-adjudication></app-adjudication>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 ">
            <app-planning></app-planning>
        </div>

    </div>
</div>