<div class="card">
    <h4 class="card-title">Land Registration Services</h4>
    <div class="card-body">

        <div class="card-text">
            <p>
                Registration of documents: Transfers, Charges. Discharges,
                Succession, correction of names, mutations and partition, Power of
                attorney, Leases and Caution.
            </p>
            <p>
                Issuance of Land Titles for all categories of land registered under the
                various land registration statutes.
            </p>
            <p>
                Issuance of Land Titles Searches.
            </p>
            <p>
                Determination of land boundary disputes.
            </p>
            <p>
                Preparation of provisional and replacement titles.
            </p>
            <p>
                Preparation and issuance of Certificates of Incorporation.
            </p>

        </div>

    </div>
    <div class="ml-auto mr-auto mb-3">
        <button class="btn" role="button">Request Service</button>
    </div>
</div>