<div class="card">
    <h4 class="card-title">Survey & Mapping Services</h4>
    <div class="card-body">

        <div class="card-text">
            <p>
                Survey of general boundaries.
            </p>
            <p>
                Processing of mutations forms.
            </p>
            <p>
                Resolution of boundary disputes
            </p>
            <p>
                Rim amendment/deed plan preparation.
            </p>
            <p>
                Sale of maps and National atlas
            </p>

        </div>

    </div>
    <div class="ml-auto mr-auto mb-3">
        <button class="btn" role="button">Request Service</button>
    </div>
</div>