.card{
    padding: 0;
    p{
        line-height: 20px;
        font-size: 14px;
        padding-top: 2px;
    }
    .card-title{
        background-color: #E1ECEB;
        padding: 10px;
        margin: 0;
    }
    button{
        background-color:#3D5654; 
        color: #fff;
    }
    h4{
        color: gray;
    }
}