<div class="card">
    <h4 class="card-title">Lands Administration Services</h4>

    <div class="card-body">

        <div class="card-text">
            <p>
                Preparation and issuance of leases.
            </p>
            <p>
                Change of User.
            </p>
            <p>
                Issuance of Land Titles Searches.
            </p>
            <p>
                Processing and issuance of consents.
            </p>
            <p>
                Advice to the Public.
            </p>
        </div>

    </div>
    <div class="ml-auto mr-auto mb-3">
        <button class="btn" role="button">Request Service</button>
    </div>
</div>