<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-8">
                    <h4 class="card-title">Notifications</h4>
                </div>
                <div class="col-xs-2 col-sm-4 col-md-4">
                    <button type="button" class="btn btn-primary">
                        <span class="badge badge-light">4 </span> New
                    </button>
                </div>

            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush p-2">
        <div class="alert alert-success">Well done! You successfully read this.</div>
        <div class="alert alert-primary">Heads up! This alert needs your attention.
        </div>
        <div class="alert alert-warning">Warning! You need to update your profile.</div>
        <div class="alert alert-danger">You have 3 new escalated tasks! Click to view.
        </div>
        <div class="alert alert-success">Well done! You successfully read this.</div>
        <div class="alert alert-success">Heads up! This alert needs your attention.
        </div>

    </ul>
</div>